@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:color';

$color-controls-bg: color.adjust($colour-bg, $lightness: -15%) !default;

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color.adjust($colour-bg, $alpha: -0.1);
    z-index: 20;
    text-align: center;

    .caption {
        @include ila-caption;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 10px;
        display: none;
    }
}

.image-wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em 5em 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 100%;
        max-height: 100%;
        //margin: 0 auto;
        &.pan {
            max-width: none;
            max-height: none;
        }
    }
}

.image-viewer-controls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    background: $color-controls-bg;
    width: 100%;
    box-sizing: border-box;
    a, button {
        @include ila-button;
        font-size: 2em;
        width: 1.2em;
        margin: 0.2em 0.1em;
        background: none;
        border: 0;
        padding: 0;
        display: block;
    }
}

@media screen and (min-width: 768px) {
    
    .image-viewer-controls {
        left: auto;
        right: 0;
        flex-direction: column;
        padding: 0.5em;
        width: auto;
        height: 100%;
        a, button {
            font-size: 2em;
        }
    }
    .image-viewer-list {
        padding-top: 0;
        padding-right: 3.8em;
    }
}

@media screen and (min-width: 1200px) {
    .image-viewer-controls {
        padding: 1em;
        a, button {
            font-size: 3em;
        }
    }
    .image-viewer-list {
        padding-right: 6.2em;
    }
}

/* On-page dynamically added classes */

a.viewer-wrap {
    position: relative;
    display: block;
    cursor: pointer;    //In case of no href
    .cue {
        position: absolute;
        top: 3px;
        right: 3px;
        font-size: 2em;
        display: none;
        color: $colour-link;
    }
    &:hover {
        .cue {
            display: block;
        }
    }
}

