@use 'variables' as *;

@keyframes loader {
    to { transform: rotate(360deg); }
}

.loader {
    width: 2em;
    height: 2em;
    border: 3px solid $colour-text;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 1.5s linear infinite loader;
}

@media (prefers-reduced-motion) {
    .loader {
        animation: none;
    }
}
