@use 'variables' as *;

@mixin ila-button {
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    &:hover, &:hover:visited {
        text-decoration: none;
    }
    &:disabled, &.disabled {
        cursor: auto;
    }
}

@mixin ila-button-defaults {
    box-sizing: border-box;
    color: $colour-button-text;
    &:visited {
        color: $colour-button-text;
    }
    &:hover, &:hover:visited {
        color: $colour-link;
    }
    &:disabled, &.disabled {
        color: $colour-button-disabled-text;
    }
    &:focus {
        outline-color: $colour-button-outline;
    }
}

@mixin ila-button-boxed {
    @include ila-button-defaults;
    background-color: $colour-button-bg;
    border-color: $colour-button-border;
}

@mixin ila-caption {
    background-color: $colour-caption-bg;
    color: $colour-caption-text;
    box-sizing: border-box;
}
