@use 'variables' as *;
@use 'mixins' as *;

$colour-shadow: #888;

ul.scroller {
	position: relative;
	max-width: 100%;
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	transition: left 0.5s ease;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	li {
		box-sizing: border-box;
		display: flex;
		flex: 1 0 12.1212%;
		border: 1px solid $colour-border;
		background: $colour-bg;
		white-space: normal;
		a {
			width: 100%;
			height: 100%;
			position: relative;
		}
		a img:hover, a:hover {
			opacity: 1;
		}
		img {
			width: 100%;
			max-height: 100%;
		}
	}
}

.caption {
	@include ila-caption;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10px;
}

.scroller-wrapper {
	position: relative;
	padding: 0 1.5em;
	button {
		@include ila-button;
		position: absolute;
		z-index: 10;
		height: 100%;
		padding: 0;
		width: 1.5em;
		top: 0;
	}
}

button.scroller-left {
	left: 0;
}

button.scroller-right {
	right: 0;
}

button.scroller-button {
	@include ila-button-boxed;
	font-size: 1.5em;
	width: 1em;
}

button.scroller-left.scroller-button {
	box-shadow: 5px 0px 10px 0px $colour-shadow;
	&:disabled, &.disabled {
		box-shadow: none;
	}
}

button.scroller-right.scroller-button {
	box-shadow: -5px 0px 10px 0px $colour-shadow;
	&:disabled, &.disabled {
		box-shadow: none;
	}
}
